@page "/mainlist"

@using Tier1User.Data

@inject Model model

<h1>Items</h1>


@if (model.arrayOfItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (reservation == true)
    {
        <div class="alert alert-success">
            <strong>Reserved</strong>
        </div>

        reservation = false;
    }


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>InStock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfItems)
            {

                <tr>
                    <td>@item.Title</td>
                    <td>@item.Type</td>
                    <td>@item.Author</td>
                    <td>@item.Quantity</td>
                    <td><button class="btn btn-success" @onclick="@(async ()  =>  await Do(item.ItemId))">Reserve</button></td>

                </tr>
            }
        </tbody>
    </table>
}

@functions{
    async Task Do(int id)
    {
        await this.model.ReserveItemAsync(id);
        reservation = true;
    }
}

@code {
    Item[] items;
    string searchInput = string.Empty;
    bool reservation;
   


    protected void SearchClick()
    {

    }
     protected void Search()
    {

    }
}