@page "/mainlist"

@using Tier1User.Data

@inject Model model




<h1>Items</h1>

<p>The Items are in the code, not in the DB</p>

<div class="row margin-bottom-20">

    <div class="col-md-9">
        <input placeholder="Search" class="form-control col-4" type="text" @bind="search" onkeyup="" />
        <button class="btn btn-success" type="button" @onclick="SearchClick">Search</button>
    </div>
</div>

@if (model.arrayOfItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                @*<th>Date</th>*@
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>InStock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfItems)
            {
            <tr>
                @*<td>@model.arrayOfItems</td>*@
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Author</td>
                <td>@item.Quantity</td> 
                <td><button class="btn btn-success" @onclick="@(() => ReserveItemClickAsync(item.Id) )">Reserve</button></td>
                @if (reservation == true)
                {
                    <div class="alert alert-success">
                        <strong>Reserved</strong>
                    </div>

                    reservation = false;
                }
            </tr>
            }
        </tbody>
    </table>
}

@code {
    
    string search = string.Empty;
    bool reservation;

    public async Task ReserveItemClickAsync(long Id)
    {

       // var reservation = await model.ReserveItemAsync(Id);



    }

    protected void SearchClick()
    {

    }
}