@page "/mainlist"

@using Tier1User.Data

@inject Model model




<h1>Items</h1>

<p>The Items are in the code, not in the DB</p>

<div class="row margin-bottom-20">

    <div class="col-md-9">
        <input placeholder="Search" type="text" @bind="search" onkeyup="" />
        <button class="btn btn-success" type="button" @onclick="SearchClick">Search</button>
    </div>
</div>

@if (model.arrayOfItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>InStock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfItems)
            {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Author</td>
                <td>@item.Quantity</td>
                <td><button class="btn btn-success" @onclick="@(async ()  =>  await Do(item.ItemId))">Reserve</button></td>
                @if (reservation == true)
                {
                    <div class="alert alert-success">
                        <strong>Reserved</strong>
                    </div>

                    reservation = false;
                }
            </tr>
            }
        </tbody>
    </table>
}

@functions{
    async Task Do(int id)
    {
        await this.model.ReserveItemAsync(id);
    }
}

@code {
    Item[] items;
    string search = string.Empty;
    bool reservation;


    protected void SearchClick()
    {

    }
}