@page "/reservedlist"

@using Tier1User.Data
@inject Model model

<h1>Items</h1>

<p>The Items are in the code, not in the DB</p>

@if (model.arrayOfReservedItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Reservation Date</th>
                <th>Reservation Expiration Date</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfReservedItems)
            {
                
                <tr>
                    
                    <td>@model.GetItemsNames(item.ItemId)</td>
                    <td>@model.GetItemsTypes(item.ItemId)</td>
                    <td>@model.GetItemsAuthors(item.ItemId)</td>
                    <td>@item.ReservedAt</td>
                    <td>@item.ReservationExpirationDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Item[] items;

    /*protected override async Task OnInitializedAsync()
    {
        items = await model.GetItemAsync(DateTime.Now);
    }*/
}